<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--数据库连接信息-->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <!--其他配置-->
        <property name="show_sql">true</property>
        <!--这里改为create可以自动创建表-->
        <property name="hbm2ddl.auto">update</property>
        
        <!--这些信息在spring里配置了-->
        <!-- <property name="hibernate.connection.url" >jdbc:mysql://localhost:3306/myoa</property>
                <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
                <property name="hibernate.connection.username" >root</property>
                <property name="hibernate.connection.password" >123456</property> -->
        <!--映射文件配置在spring的配置文件中了-->
          <!--<property name="mappingLocations" value="classpath:cn/panda/oa/domain/*.hbm.xml"></property>-->

    </session-factory>
</hibernate-configuration>